@import './../../styles/_variables.scss';

.Login {
  width: 450px;
  height: 350px;
  background: $base-color-three-rgb-op3;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12) !important;
  border-radius: 0;
  display: flex;
  flex-flow: column;

  &__title {
    background: $base-color-two;
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      color: $base-color-1;
      font-size: 130%;
      margin: 0;
    }
  }

  &__fieldContainer {

    &-inputField {
      margin-top: 3.7rem;
    }

    &-input{
      font-family: inherit;
      color: $base-font-color;
      font-size: 18px;
      margin: 0 auto;
      padding: 12px 20px;
      border-radius: 2px;
      background-color: $base-color-1;
      border: 1.5px solid $base-color-two !important;
      width: 80% !important;
      display: block;
      transition: all 0.3s ease;

      &:focus {
        outline: none;
      }

      //&:placeholder-shown + .Login__fieldContainer-label {
      //  opacity: 0;
      //  visibility: hidden;
      //  -webkit-transform: translateY(-4rem);
      //  transform: translateY(-4rem);
      //}

    }

    &-label{
      font-family: inherit;
      font-size: 18px;
      font-weight: 400;
      color: $base-font-color;
      margin-left: 40px;
      margin-top: 2px;
      display: block;
      transition: all 0.3s;
      transform: translateY(0);
    }
    &-button{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top : 180px;
      text-decoration: none;
      background-color: rgba(40, 39, 106, 0.85);
      width: 90%;
      color: #FFF ;
      cursor: pointer;
      padding: 13px;
      text-align: center;
      font-family: inherit;
      letter-spacing: .5px;
      font-size: 1rem;
      border-radius: 2px;
      transition: 0.4s ease;
      border: none;
      box-shadow: none;

      &:hover {
        background-color: $base-color-two ;
      }

      &:active {
        background-color: rgba(99, 99, 168, 0.85);
      }

      &:focus {
        outline: none;
      }

    }

  }
}

@media (max-width: 450px) {
  .Login{
    width: 85%;
  }
}


.error_msg {
  position: absolute;
  top : 220px;
  color:rgba(255, 0, 0, 0.56);
  margin-left:23px ;
  background-color: rgba(186, 0, 0, 0.13);
  border: 0.5px solid rgba(255, 0, 0, 0.56);
  padding: 12px;
  width: 83%;
  margin-top: 70px;
  text-align: center;
}




